body {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Anek Telugu', sans-serif;
    font-family: 'Antonio', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Rubik Dirt', cursive;
    font-family: 'Secular One', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

/*HEADER STYLES*/

.primary-btn {
    height: 64;
    width: 160;
    padding: 20px 35px;
    background-color: white;
    color: blue;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
}

.wrap {
    word-wrap: break-word;
    word-break: break-all;
    color: white;
}

.header-div {


    width: 50%;
    text-align: right;
    margin: 320px 45px 0 0;


}

header {
    padding-bottom: 400px;
    display: flex;
    justify-content: end;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;

}

/*MAIN SECTION DESIGN*/

main {
    margin: 0 30px 0 30px;
}

.failer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.failer-content {
    width: 50%;
}

.person {
    width: 560px;
    height: 720px;
}

/*PLANS SECTION*/

.plan-div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.plan-title {
    text-align: center;
    margin-bottom: 30px;
}

.plan {
    width: 214px;
    height: 197px;
}

.plans {
    margin-top: 100px;
}